@import 'helpers/classes';
@import 'helpers/colors';
@import 'helpers/mixins';
@import 'helpers/vendors';

@import 'components/charts';
@import 'components/navbar';
@import 'components/footer';
@import 'components/blocks';
@import 'components/map';

@import 'pages/home';
@import 'pages/who';
@import 'pages/scores';
@import 'pages/results';

body { 
	font-family: Georgia, serif;
	font-size: 16px;
}
#page-content {
	position: relative;
	z-index: 10;
}
.link {
	cursor: pointer;
	&:hover { text-decoration: underline; }
}
.radio {
	display: inline-block;
	margin-bottom: 5px;
}

// re-color for bootstrap buttons
.btn-primary {
	background-color: $light-blue;
	border-color: darken($light-blue, 8%);
	&:hover {
		background-color: darken($light-blue, 5%);
		border-color: darken($light-blue, 16%);
	}
}
.btn-warning {
	background-color: $dark-orange;
	border-color: darken($dark-orange, 8%);
	&:hover {
		background-color: darken($dark-orange, 5%);
		border-color: darken($dark-orange, 16%);
	}
}
select.form-control { width: auto; }
.container {
	position: relative; 
	padding: 20px 50px;
}
.container-wide {
	display: inline-block;
	max-width: none;
	border: none;
}

// notional data warnings
.notional-warning {
	color: #c91414;
	font-weight: 600;
}

// re-style for bootstrap multiselect
.btn b.caret { margin-left: 3px; }
.multiselect-container label { @include noselect; }
.multiselect {
	background-color: $light-blue;
	border-color: #666;
	color: white;
}

// re-style for bootstrap buttons
.btn {
	cursor: pointer;
}

/* Scrollable dropdown menus */
.scrollable-dropdown {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

/* Header Styles */
h1 {
	color: #AA0000;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 2em;
}
h2 {

}
h3 {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 1.25em;
}