@import "helpers/classes";
@import "helpers/colors";
@import "helpers/mixins";
@import "helpers/vendors";

@import "components/blocks";
@import "components/capacityDescription";
@import "components/charts";
@import "components/footer";
@import "components/headers";
@import "components/indicatorProgress";
@import "components/images";
@import "components/item";
@import "components/map";
@import "components/images";
@import "components/navbar";
@import "components/tooltipster";

@import "pages/background";
@import "pages/contact";
@import "pages/costing";
@import "pages/costsInstructions";
@import "pages/country";
@import "pages/home";
@import "pages/overview";
@import "pages/results";
@import "pages/scores";
@import "pages/who";

body {
  //font-family: Georgia, serif;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: $black;
  a {
    color: $primary-dark-blue;
    &:hover {
      color: $primary-light-blue;
    }
  }
}

#page-content {
  position: relative;
  min-height: 100px;
  z-index: 10;
}
.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.radio {
  display: inline-block;
  margin-bottom: 5px;
}
.instructions {
  font-style: italic;
  max-width: 750px;
}

select.form-control {
  width: auto;
  &.french {
    width: 206px;
  }
}
.content-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
.container {
  position: relative;
  padding: 30px 20px;
  margin-left: 0;
  margin-right: auto;
}
.container-wide {
  display: inline-block;
  max-width: 1120px;
  border: none;
}
.container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 800px;
  &.background-container {
    max-width: 640px;
  }
}

/* Scrollable dropdown menus */
.scrollable-dropdown {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

h1 {
  color: $black;
}
