@import 'helpers/classes';
@import 'helpers/colors';
@import 'helpers/mixins';
@import 'helpers/vendors';

@import 'components/capacityDescription';
@import 'components/charts';
@import 'components/headers';
@import 'components/indicatorProgress';
@import 'components/navbar';
@import 'components/footer';
@import 'components/blocks';
@import 'components/map';
@import 'components/images';

@import 'pages/home';
@import 'pages/overview';
@import 'pages/who';
@import 'pages/scores';
@import 'pages/costing';
@import 'pages/results';
@import 'pages/assessment';

body { 
	//font-family: Georgia, serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

#page-content {
	position: relative;
	min-height: 100px;
	z-index: 10;
}
.link {
	cursor: pointer;
	&:hover { text-decoration: underline; }
}
.radio {
	display: inline-block;
	margin-bottom: 5px;
}
.instructions {
	font-style: italic;
}

select.form-control { width: auto; }
.container {
	position: relative; 
	padding: 25px 50px 30px;
}
.container-wide {
	display: inline-block;
	max-width: none;
	border: none;
}
.container-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 900px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}


/* Scrollable dropdown menus */
.scrollable-dropdown {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}
