# Compiled CSS
css/main.css
css/main.css.map

# Node Modules
node_modules/

# Project files
.project
.pydevproject
.DS_Store

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

# PowerShell scripts
ps/
ihr-costing-tool-2.iml

.idea/*
.sass-cache*
.gitignore