/* --- Block Link Content --- */
.block-link-container {
  float: left;
  width: 365px;
}
.block-link-capabilities-header {
  position: relative;
  color: black;
  padding: 15px 30px 15px 25px;
  border: $border;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  @include border-left-radius(20px);
  @include gradient(white, #f0f0f0);
  @include box-shadow(-2px 0px 3px rgba(0,0,0,0.2));
  @include noselect;

  &.active {
    @include gradient(white, $light-blue);
  }
  .chevron {
    top: 3px;
    width: 24px;
    height: 19px;
  }
}
.block-link {
  position: relative;
  width: 90%;
  left: 10%;
  padding: 10px 30px;
  border-right: $border;
  border-bottom: $border;
  border-left: $border;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  color: black;
  cursor: pointer;
  @include border-left-radius(15px);
  @include gradient(white, #f0f0f0);
  @include box-shadow(-2px 0px 3px rgba(0,0,0,0.2));
  @include noselect;
  
  &:first-child { border-top: $border; }
  &[level="1"] {
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    .block-link-arrow {
      top: 20px;
      width: 13px;
      height: 13px;
    }
  }

  &.hidden { display: none; }
  &.active {
    border-right: none;
    font-weight: bold;
    @include gradient(white, $light-blue);
  }
}
.block-score-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;

  &[color="red"] { background-color: rgba($jeeRed, 0.8); }
  &[color="yellow"] { background-color: rgba($jeeYellow, 1); }
  &[color="green"] { background-color: rgba($jeeGreen, 1); }
}
.block-link-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  @include border-left-radius(25px);
  background-color: transparent;
  &:hover {
    @include hori-gradient(rgba(0,0,0,0.04), transparent);
  }
}
.block-link-title {
  font-size: 1.1em;
}


/* --- Block Content --- */
.block-container { border-top: $light-border; }
.block {
  position: relative;
  padding: 30px 30px 30px 0px;
  text-align: left;
  border-bottom: $light-border;
  @include box-sizing();
}
.block-title {
  font-size: 1.3em;
  color: #555;
  margin-bottom: 10px;
}
.block-content { margin-top: 5px; }
.block-description {
  margin: 20px 0px 0px 0px;
  max-width: 750px;
  text-align: left;
}
.input-block-container {
  margin-left: 350px;
  padding-left: 75px;
  width: 90%;
  .block {
    padding-bottom: 70px;
    border-bottom: none;
    &.no-reset { padding-bottom: 30px; }
  }
  .block-description { font-style: italic; }
}
