/* --- Block Link Content --- */
.block-link-container {
  float: left;
  width: 500px;
}
.block-link {
  position: relative;
  color: #555;
  padding: 20px 30px 20px 50px;
  border-right: $border-light-minimal;
  border-bottom: $border-light-minimal;
  border-left: $border-light-minimal;
  @include border-left-radius(25px);
  @include box-shadow(-3px 0px 6px -3px rgba(0,0,0,0.5));
  @include noselect;
  cursor: pointer;  
  
  &:first-child { border-top: $border-light-minimal; }
  &[level="1"] {
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    .block-status { top: 17px; }
    .block-link-arrow {
      top: 20px;
      width: 13px;
      height: 13px;
    }
  }
  &.hidden { display: none; }
  &.active { border-right: none; }
}
.block-link-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  @include border-left-radius(25px);
  background-color: transparent;
}
.block-link-cover:hover {
  @include hori-gradient(rgba(0,0,0,0.04), transparent);
}
.block-link-title {
  font-size: 1.1em;
  font-weight: 600;
}
.block-status {
  position: absolute;
  top: 22px;
  right: 30px;
}
.block-link-arrow {
  position: absolute;
  top: 25px;
  left: 19px;
  width: 15px;
  height: 15px;
  @include opacity(0.7);
}

/* --- Block Content --- */
.block-container { border-top: $border-light-minimal; }
.block {
  position: relative;
  padding: 30px 30px 30px 0px;
  text-align: left;
  border-bottom: $border-light-minimal;
  @include box-sizing();
}
.block-title {
  font-size: 1.3em;
  color: #555;
  margin-bottom: 10px;
}
.block-content { margin-top: 5px; }
.block-description {
  margin: 20px 0px;
  max-width: 750px;
  text-align: left;
  &.block-description-wide { max-width: 850px; }
  &.radio-box-description { margin-bottom: 10px; }
}
.block-toggle-bar {
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-align: center;
  cursor: pointer;  
  padding: 3px 5px 3px 0px;
  width: 100%;
}
.block-toggle-bar:hover { background-color: $off-white; }
.block-toggle-bar img { padding: 0px 10px; }
.extra-block {
  border-top: $border-light-minimal;
}
.input-block-container {
  margin-left: 500px;
  padding-left: 30px;
  width: 90%;
}
.input-block-description {
  display: inline-block;
  margin: 5px 10px 20px;
}
.input-block-container {
  margin-left: 500px;
  padding-left: 30px;
  .block {
    display: none;
    padding-bottom: 70px;
    border-bottom: none;
    &.no-reset { padding-bottom: 30px; }
  }
  .block-description { font-style: italic; }
}
input.non-default { background-color: #ffdbdb; }