.capacity-description-container {
	margin: 25px 0;
	color: #333;

	.capacity-description-header {
		display: flex;
		padding-top: 5px;
		border-radius: 10px;
		box-sizing: border-box;
		cursor: pointer;
		/*&:hover {
			border: $border;
		}*/
	}
	.capacity-description-header-chevron {
		display: inline-block;
		position: relative;
		top: -2px;
		height: 23px;
		width: 20px;
		margin-right: 5px;
		transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
		-webkit-user-select: none;
		@include opacity(0.75);
	}
	.rotate-chevron {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.capacity-description-details {
		margin-top: 5px;
		padding-left: 27px;
		display: none;
	}
}
