.cost-partition-chart {
	.node {
		cursor: pointer;
		//fill: #fff;
		//stroke: black;
		stroke-width: 2px;
	}
	.path {
		fill: none;
		stroke: #ccc;
	}
	.label-text {
		font-weight: bold;
		font-size: 20px;
	}
}
