.cost-partition-chart {
	.node {
		cursor: pointer;
		//fill: #fff;
		//stroke: black;
		stroke-width: 2px;
	}
	.path {
		fill: none;
		stroke: #ccc;
	}
	.label-text {
		font-weight: bold;
		font-size: 20px;
	}
}

.cost-partition-chart-2 {
	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: rgba(204,204,204,0.5);//#ccc;
	  stroke-width: 2px;
	}
}

.min-max-bar-chart {
	.x-axis, .y-axis {
		font-size: 1em;
	}

	.bar {
		fill: steelblue;
	}

	.axis-label {
		font-size: 1.2em;
		font-weight: bold;
	}

	path.domain {
		stroke-width: 1.5px;

	}

	.tick line {
		stroke-width: 1.5px;
	}
}