.tick text {
	font-size: 0.9rem;
}
.axis-label {
	text-anchor: middle;
	font-size: 1rem;
}


/* --- Specific Charts --- */
.progress-chart {
	.base {
		fill: none;
		stroke: #333;
		stroke-width: 1;
	}
	.bar {
		stroke: none;
	}
	.marker {
		fill: white;
		stroke: #333;
		stroke-width: 2;
	}
	.label-line {
		stroke: #333;
		stroke-dasharray: 2,2;
	}
	.label-text {
		text-anchor: middle;
		font-size: 0.95rem;
		font-weight: 600;
	}
}
.cost-chart {
	.indicator-blob {
		@include opacity(0.7);
	}
	.indicator-blob:hover {
		stroke: rgba(0,0,0,0.8);
		@include opacity(0.75);
	}
	.tick text {
		cursor: default;
		color: #555;
	}
	.y.axis .domain { display: none; }
	.y.axis .tick line {
		stroke: #777;
		stroke-dasharray: 3,3;
	}
	.x-axis-label {
		font-size: 0.95rem;
		font-weight: 600;
		text-anchor: start;
	}
	.y-axis-label-1 {
		color: #777;
		font-weight: 600;
	}
	.y-axis-label-1,
	.y-axis-label-2 {
		font-size: 0.9rem;
		text-anchor: start;
		// text-anchor: end;
	}
}
.cc-tooltip {
	text-align: center;
	padding: 10px;

	.cc-tooltip-title {
		font-size: 1.3em;
		color: #333;
	}
	.cc-tooltip-subtitle {
		font-size: 1.3em;
		font-weight: 300;
		color: #333;
		margin-top: 10px;
	}
	.cc-tooltip-block {
		display: inline-block;
		margin: 25px 15px 0;
	}
	.cc-tooltip-block div:first-child {
		font-family: 'Raleway', sans-serif;
		font-size: 1.7em;
		font-weight: 600;
		color: #555;
	}
	.cc-tooltip-block div:nth-child(2) {
		margin-top: 8px;
		font-size: 0.9em;
	}
	.cc-tooltip-button-container {
		margin-top: 20px;
	}
}