.tick text {
	font-size: 0.9rem;
}
.axis-label {
	text-anchor: middle;
	font-size: 1rem;
}


/* --- Specific Charts --- */
.progress-chart {
	.base {
		fill: none;
		stroke: #333;
		stroke-width: 1;
	}
	.bar {
		fill: #777;
		stroke: none;
	}
	.marker {
		fill: white;
		stroke: #333;
		stroke-width: 2;
	}
}
.circle-summary-chart {
	.base {
		fill: white;
		stroke: #333;
		stroke-width: 3;
	}
	.value-text {
		font-family: 'Raleway', sans-serif;
		font-size: 1.2em;
		font-weight: 600;
		text-anchor: middle;
	}
	.label-text {
		text-anchor: middle;
	}
}
.cost-chart {

}
.cc-tooltip {
	text-align: center;
	padding: 10px;

	.cc-tooltip-title {
		font-size: 1.3em;
		color: #333;
	}
	.cc-tooltip-subtitle {
		font-size: 1.05em;
		font-weight: 300;
		color: #333;
		margin-top: 5px;
	}
	.cc-tooltip-block {
		display: inline-block;
		margin: 25px 15px 0;
	}
	.cc-tooltip-block div:first-child {
		font-family: 'Raleway', sans-serif;
		font-size: 1.7em;
		font-weight: 600;
		color: #555;
	}
	.cc-tooltip-block div:nth-child(2) {
		margin-top: 8px;
		font-size: 0.9em;
	}
}