.footer {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fcfcfc;
  color: #555;
  .logo-talus {
    height: 42px;
  }
  .logo-georgetown {
    height: 90px;
  }
  .built-by {
    padding-left:80px;
  }
  table {
    margin: 1em auto;
  }
}
