/* Header Styles */
h1 {
  color: #303434;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 1.2rem;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  /*-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;*/
  margin-bottom: 20px;
  font-weight: 700;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
}
h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.15em;
}
h5 {
  font-family: "Raleway", sans-serif;
  font-size: 1.05em;
}
h2,
h3,
h4,
h5 {
  color: #303434;
}
