.chevron {
	display: inline-block;
	position: relative;
	top: -2px;
	height: 23px;
	width: 20px;
	margin-right: 5px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-webkit-user-select: none;
	@include opacity(0.75);

	&.active {
		@include rotate(90deg);
	}
}
