.indicator-progress-container {
	margin: 30px 0;
}
.indicator-container {
	margin-top: 15px;
	margin-left: 30px;
}
.indicator-slot-container {
	&:nth-last-child(n+2) .action-slot:last-child {
		border-bottom: none;
	}
}
.indicator-slot { 
	border: $border;
	padding: 8px 15px 8px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include gradient(#fff, #d9d9d9);

	&:nth-child(n+2) { border-top: none; }
	&.empty { color: #555; }
	&:hover { color: #000; }
	&.active {
		font-weight: 600;
		color: #000;
		@include box-shadow(inset 2px 2px 5px rgba(0,0,0,0.2));
		@include gradient(#fff, $light-blue);
	}
	.chevron {
		position: relative;
		top: 3px;
		width: 16px;
		height: 16px;
		margin-right: 10px;
		align-self: flex-start;
	}
	.indicator-id {
		margin-right: 2px;
		white-space: nowrap;
		align-self: flex-start;
	}
	.indicator-name {

	}
	.indicator-score {
		margin-left: auto;
		white-space: nowrap;
	}
	.indicator-score span {
		margin: 0 2px;
	}
	.score-none {
		font-style: italic;
	}
}
.action-slot {
	margin-left: 30px;
	border: $border;
	padding: 6px 20px;
	color: #444;
	font-size: 0.9em;
	cursor: pointer;
	@include box-shadow(1px 0px 2px rgba(0,0,0,0.1));
	@include gradient(#fff, #d9d9d9);

	&:hover { color: #000; }
	&.active {
	 	color: #000;
		font-weight: 600;
		@include box-shadow(inset 1px 1px 5px rgba(0,0,0,0.3));
		@include gradient(#fff, $light-blue);
	}
	&:nth-child(n+2) {
		border-top: none;
	}
	input {
		position: relative;
		top: 2px;
		margin-right: 10px;
	}
	.action-name {
		display: inline-block;
	}
}
.item-block-container {
	display: none;
	position: relative;
	margin-left: 60px;
	border: $border;
	padding: 15px 15px 25px;
	overflow-x: auto;
	white-space: nowrap;
	background-color: #ccc;
}