.indicator-progress-container {
	margin: 30px 0;
}
.indicator-container {
	margin-top: 15px;
	margin-left: 30px;
}
.indicator-slot { 
	width: 700px;
	height: 40px;
	padding: 0 20px;
	border: 1px solid #999;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include gradient(#fff, #f0f0f0);

	&:nth-child(n+2) { border-top: none; }
	&.empty { color: #555; }
	&:hover { color: #000; }
	&.active {
		font-weight: 600;
		color: #000;
		@include gradient(#fff, $light-blue);
	}
	.indicator-name { width: 360px; }
	.indicator-cost {
		width: 200px;
		text-align: right;
	}
	.score-none {
		font-style: italic;
	}
}
.indicator-description {
	margin-left: 30px;
}
