.item-block-container {
	display: none;
	position: relative;
	height: 450px;
	margin-left: 60px;
	border: $border;
	padding: 10px 15px 25px;
	overflow: hidden;
	white-space: nowrap;
	background-color: #ccc;
}
.item-block-progress-text {
	text-align: center;
	font-weight: 600;
}
.item-block-arrow {
	position: absolute;
	top: 135px;
	padding: 4px 10px 8px;
	border: 1px solid #999;
	cursor: pointer;
	@include noselect;
	@include border-radius(3px);
	@include gradient(#f0f0f0, #d0d0d0);
	@include box-shadow(0 1px 0 rgba(255,255,255,0.6) inset);

	&:hover {
		@include gradient(#e0e0e0, #c0c0c0);
	}
	img {
		width: 15px;
		height: 19px;
	}
}
.item-block-arrow-prev { left: 30px; }
.item-block-arrow-next { right: 30px; }
.item-block {
	position: absolute;
	top: 40px;
	left: 155px;
	margin: 0 15px;
	padding: 15px;
	border: $border;
	text-align: center;
	width: 400px;
	vertical-align: top;
	white-space: normal;
	@include gradient(#f0f0f0, #fff);
	@include box-shadow(3px 3px 6px rgba(0,0,0,0.3));

	.item-title {
		font-family: 'Raleway', sans-serif;
		font-size: 1.2em;
	}
	.item-startup-cost-container {
		margin-top: 20px;
	}
	.item-startup-cost-container,
	.item-recurring-cost-container {
		div:first-child {
			display: inline-block;
			width: 111px;
			text-align: right;
		}
		div:last-child {
			display: inline-block;
			width: 60px;
			text-align: left;
		}
	}
	.startup-cost-input,
	.recurring-cost-input {
		display: inline-block;
		width: 110px;
		margin: 5px 7px 0;
		padding: 6px 12px;
		text-align: right;
	}
	.item-footer {
		margin-top: 30px;
		margin-bottom: 15px;
		text-align: center;
	}
	.item-view-details-button {
		display: inline-block;
		padding: 2px 15px;
		border: $border;
		font-size: 0.9rem;
		cursor: pointer;
		@include noselect;
		@include gradient(#fff, #f0f0f0);
		@include box-shadow(1px 1px 3px rgba(0,0,0,0.05));
		&:hover {
			@include gradient(#fff, #e0e0e0);
		}
	}
}
.item-details-container {
	padding: 20px 20px 10px;
	color: #333;

	& > div:nth-child(n+2) {
		margin-top: 20px;
	}
	.item-details-title {
		margin-bottom: 10px;
		font-size: 1.1em;
		font-weight: 600;
	}
	.line-item-table {
		td {
			border-top: none;
			padding: 3px 10px;
		}
		td:last-child { text-align: right; }
		tr:last-child { font-weight: 600; }
		tr:last-child td { border-top: 1px solid #999; }
	}
}