.item-block-container {
	display: none;
	position: relative;
	margin-left: 60px;
	border: $border;
	padding: 10px 15px 25px;
	overflow: hidden;
	white-space: nowrap;
	background-color: #ccc;
}
.item-block-progress-text {
	font-size: 1.05rem;
	text-align: center;
	font-weight: 600;
}
.item-block-arrow {
	position: absolute;
	top: 135px;
	padding: 4px 10px 8px;
	border: $border;
	cursor: pointer;
	@include noselect;
	@include border-radius(3px);
	@include gradient(#f0f0f0, #d0d0d0);
	@include box-shadow(0 1px 0 rgba(255,255,255,0.6) inset);

	&:hover {
		@include gradient(#e0e0e0, #c0c0c0);
	}
	img {
		width: 15px;
		height: 19px;
	}
}
.item-block-arrow-prev { left: 30px; }
.item-block-arrow-next { right: 30px; }
.item-block {
	position: absolute;
	width: 420px;
	height: 280px;
	top: 44px;
	left: 155px;
	margin: 0 15px;
	text-align: center;
	vertical-align: top;
	white-space: normal;
	perspective: 1000px;

	.item-shell {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: $border;
		transition: 0.7s;
		transform-style: preserve-3d;
		@include gradient(#f0f0f0, #fff);
		@include box-shadow(3px 3px 6px rgba(0,0,0,0.3));
	}
	&.active .item-shell {
		transform: rotateY(-180deg);
	}
	.front, .back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: rotateX(0deg);
		backface-visibility: hidden;
	}
	.front { z-index: 2; }
	.back { transform: rotateY(180deg); }

	.item-front-shell {
		padding: 15px;
	}
	.item-title-container {
		min-height: 50px;
		max-height: 81px;
		overflow-y: auto;
	}
	.item-title {
		font-family: 'Raleway', sans-serif;
		font-size: 1.2em;
	}
	.item-startup-cost-container {
		margin-top: 20px;
	}
	.item-cost-name {
		display: inline-block;
		width: 111px;
		text-align: right;
	}
	.startup-cost-input,
	.recurring-cost-input {
		display: inline-block;
		width: 130px;
		margin: 5px 7px 0;
		padding: 6px 12px;
		text-align: right;
	}
	.item-cost-currency {
		display: inline-block;
		width: 60px;
		text-align: left;
	}
	.item-cost-tooltip-img {
		position: relative;
		top: -1px;
		width: 16px;
		height: 16px;
		@include opacity(0.8);
	}
	.item-save-cost-text {
		display: none;
		position: absolute;
		left: 0;
		bottom: 55px;
		width: 100%;
		font-weight: 600;
		text-align: center;
	}
	.item-footer {
		position: absolute;
		left: 0;
		bottom: 20px;
		width: 100%;
		text-align: center;
	}
	.item-save-button,
	.item-view-details-button,
	.item-return-to-front-button {
		display: inline-block;
		margin: 0 5px;
		border: $border;
		padding: 2px 15px;
		font-size: 0.9rem;
		cursor: pointer;
		@include noselect;
		@include gradient(#fff, #f0f0f0);
		@include box-shadow(1px 1px 3px rgba(0,0,0,0.05));
		&:hover {
			@include gradient(#fff, #e0e0e0);
		}
	}
	.primary {
		color: white;
		border-color: #6268aa;
		@include gradient(#4a8bc3, #3071a9);
		&:hover {
			@include gradient(#3a7bb9, #2061a0);
			border-color: #505593;
		}
	}
}
.item-details-container {
	padding: 20px 20px 10px;
	color: #333;

	.item-details-title {
		margin-bottom: 10px;
		font-size: 1.1em;
		font-weight: 600;
	}
	.line-item-table-container {
		height: 140px;
		overflow-y: auto;
		margin-bottom: 20px;
	}
	.line-item-table {
		td {
			border-top: none;
			padding: 3px 10px;
			text-align: left;
		}
		td:last-child {
			text-align: right;
			white-space: nowrap;
		}
		tr:last-child { font-weight: 600; }
		tr:last-child td { border-top: 1px solid #999; }
	}
	.line-item-description-button {
		position: relative;
		top: -2px;
		width: 17px;
		height: 17px;
		margin-left: 10px;
		cursor: pointer;
	}
}