.country {
  fill: #f0f0f0;
  stroke: #555;
  stroke-width: .25px;
  cursor: pointer;
}
.country.active {
  fill: #AA0000;
}
.country:hover{
  fill: rgb(255,122,122);
}
.country.active:hover {
  fill: #AA0000;
}
.text{
  font-size:10px;
  text-transform:capitalize;
}
#container {
  margin:10px 10%;
  border:2px solid #000;
  border-radius: 5px;
  height:100%;
  overflow:hidden;
  background: #F0F8FF;
}
.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}
.graticule {
  fill: none;
  stroke: none;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.equator {
  stroke: #ccc;
  stroke-width: 1px;
}
.map-background {
  fill: #A3C3D8;
}

/* Map Controls */
.glossy {
  fill: rgba(255,255,255,0.9);
  stroke: #555;
  stroke-width: 0.25;
}
.plus-icon, .minus-icon {
  @include opacity(0.6);
  cursor: pointer;
}
.plus-icon:hover, .minus-icon:hover { @include opacity(1); }
.pan-img {
  @include opacity(0.6);
  cursor: pointer;
}
.pan-img:hover { @include opacity(1); }