/* --- Nav Bar --- */
.navbar {
  position: relative;
  z-index: 100;
  margin-bottom: 0px;
  color: white;
}
.ihr-navbar {
  padding: 0 0 0 70px;
  background-color: #d0d0d0;
  .nav-link {
    padding: .5em 1em !important;
  }
  .nav-item {
    cursor: pointer;
  }
  .nav-item.active,
  .nav-item:hover {
    background-color: $indigo;
    color: white;
  }
}
.header-wrapper {
  position: relative;
  padding: 20px;
  text-align: center;
}
.header {
  position: relative;
  display: inline-block;
}
.header-title {
  font-size: 2.5em;
  font-weight: 300;
  cursor: pointer;
}

.indigo {
  background-color: #1a237e!important;
}

.navbar-logo-container {
  padding: 15px;
  background-color: #e8e8e8;
  .logo,
  .tool-name {
    display: inline-block;
    vertical-align: middle;
  }
  .tool-name {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    padding-left: 10px;
    font-size: 1.5em;
  }
}
.navigation-bar {
  position: absolute;
  top: 32px;
  left: 30px;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0,0,0,0.65);
}
.navigation-link {
  cursor: pointer;
}
.top-nav-link {
  top: 18px;
  cursor: pointer;
  &.active {
    color: #333;
    font-weight: 600;
  }
}
.nav .dropdown-toggle {
  top: 18px;
}
.nav ul.dropdown-menu {
  top: 66px;

  &.scrollable-menu {
    max-height: 400px;
    overflow-y: auto;
  }
}
.search-bar-container {
  position: absolute;
  top: 10px;
  right: 30px;
  .search-bar {
    display: inline-block;
    width: 400px;
    margin-right: 5px;
  }
  button {
    position: relative;
    top: -1px;
  }
}
.date-range-container {
  visibility: hidden;
}
.data-source-buttons {
  float: right;
  margin-bottom: 10px;
  visibility: hidden;
}

.date-select {
  width: 100px;
}