.navbar {
  position: relative;
  z-index: 100;
  margin-bottom: 0px;
  color: white;
}
.navbar-logo-container {
  padding: 15px;
  @include gradient(#e9e9e9, #fcfcfc);

  .logo,
  .tool-name {
    display: inline-block;
    vertical-align: middle;
  }
  .tool-name {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    padding-left: 10px;
    font-size: 1.5em;
  }
}
.ihr-navbar {
  padding: 0 0 0 70px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  @include gradient(#ebebeb, #e3e3e3);
  @include box-shadow(0 2px 3px rgba(0,0,0,0.1));

  .nav-item {
    cursor: pointer;
    &.active,
    &:hover {
      background-color: #f6f6f6;
    }
  }
  .nav-link {
    padding: .5em 1.1em !important;
    color: #555 !important;
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  .nav-item:first-child .nav-link {
    border-left: 1px solid rgba(0,0,0,0.2);
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #f3f3f3;
  }
  .dropdown-item:active {
    background-color: #f0f0f0;
  }
}
.tool-name { cursor: pointer; }
