.navbar {
  width: 100%;
  border-bottom: 1px solid $black;
  background-color: white;
  .wrapper {
    max-width: 1120px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 20px;
    width: 100%;
    .nav-logo-container {
      height: 50px;
    }
    .nav-logo {
      max-width: 100%;
      max-height: 100%;
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      > div {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: $black;
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 30px;
        }
        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          &.nav-link {
            padding: 0px;
          }
          &:hover {
            color: $primary-light-blue;
          }
          .active {
            font-weight: bold;
          }
        }
      }
      .lang {
        height: 20px;
        width: 20px;
        margin-right: 5px;
      }
    }
  }
}

.secondary-nav {
  width: 100%;
  border-bottom: 1px solid $black;
  background-color: $gray-4;
  .wrapper {
    max-width: 1120px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    margin: 0 auto;
    width: 100%;
    > div {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: normal;
      color: $black;
      text-decoration: none;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 40px;
      }
      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &.nav-link {
          padding: 0px;
        }
        &:hover {
          color: $primary-light-blue;
        }
        .active {
          font-weight: bold;
        }
      }
    }
  }
}
