.costs-container {
	.core-capacity-name {
		color: #333;
		font-size: 1.3em;
		font-weight: 600;
		margin-top: -5px;
	}
}
.costing-instructions {
	margin-top: 20px;
}
.indicator-description-container,
.action-description-container {
	max-width: 700px;
	margin-left: 30px;
	margin-bottom: 5px;
	white-space: nowrap;

	b, div {
		display: inline-block;
		white-space: normal;
		vertical-align: top;
	}
	b { width: 80px; }
	div { margin-left: 2px; }
}
.go-to-results-button {
	margin-top: 10px;
}