.costing-instructions {
  margin-top: 20px;
}
.indicator-description-container,
.action-description-container {
  max-width: 700px;
  margin-left: 30px;
  margin-bottom: 5px;
  white-space: nowrap;

  b,
  div {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
  }
  b {
    width: 80px;
  }
  div {
    margin-left: 2px;
  }
}
.no-score-container,
.no-actions-container {
  padding: 20px 50px;
  background-color: #ccc;
  margin-left: 30px;
  border-left: $border;
  border-right: $border;
  font-style: italic;
  text-align: center;
}
.no-score-container {
  cursor: pointer;
}
.go-to-results-button {
  margin-top: 30px;
}
