.costs-instructions-container {
	& > div:nth-child(n+2) {
		margin-top: 15px;
	}
  div.start-button-container {
  	text-align: center;
  	margin-top: 25px;
  }
	li {
		padding-left: 5px;
		margin-bottom: 10px;
	}
}
.target-score-description {
	margin-bottom: 10px;
}
.target-score-section {
	margin-left: 15px;

	.target-score-option {
		margin-bottom: 10px;
		cursor: pointer;
	}
	.target-score-select {
		margin-left: -1px;
	}
	.color-bar {
		display: inline-block;
		position: relative;
		top: 7px;
		width: 8px;
		height: 24px;
		background-color: $jeeGreen;
		border: $border;
		margin-left: 5px;
	}
	input {
		position: relative;
		top: 1px;
		margin-right: 5px;
	}
	select {
		display: inline-block;
		margin: 0 7px;
		padding: 0 .6rem;
		height: calc(1.8rem + 2px) !important;
	}
	option {
		background-color: rgba($jeeYellow, 0.5);
	}
	option:nth-child(3) {
		background-color: rgba($jeeGreen, 0.8);
	}
}