.home-container {
	// padding: 0 0 50px;
    // width: 970px	;
	// text-align: center;
	// background: url('../img/splash.png');
	// background-size: cover;
	// background-position: 0 80%;
}
.home-veil {
	background-color: rgba(255,255,255,0.9);
	margin: 80px 0 20px;
	padding: 30px 0 30px;
}
.about-text-container {
	display: inline-block;
	width: 700px;
}
.about-text {
	font-size: 1.1em;
	text-align: left;
}
.home-start-button {
	font-size: 1.1em;
	margin-top: 20px;
}