.overview-container {
	& > div:nth-child(n+2) {
		margin-top: 15px;
	}
  .upload-button-container {
    margin-bottom: 25px;
  }
  div.next-button-container {
  	text-align: center;
  	margin-top: 30px;
  }
  .jee-tool-img {
    position: relative;
    top: -5px;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    cursor: pointer;
  }
  .input-prior-session {
    display: none;
  }
}