.overview-container {
  .overview-section {
    margin-top: 15px;
  }
  .upload-button-container {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
    }
  }
  div.next-button-container {
    text-align: center;
    margin-top: 30px;
    button {
			margin-right: auto;
			margin-left: auto;
		}
  }
  .jee-tool-img {
    position: relative;
    top: -2px;
    width: 14px;
    height: 14px;
    margin-left: 2px;
    cursor: pointer;
  }
  .input-prior-session,
  .input-score-file {
    display: none;
  }
  button {
    margin-right: 15px;
  }
}
