.results-container {
	font-family: 'Open Sans', sans-serif;
}
.score-improvement-container {
	div, span { vertical-align: middle; }
	.score-improvement-title {
		font-weight: 600;
	}
	.rp-score-container {
		display: inline-block;
		margin-top: .35em;
	}
	.rp-score-to-text {
		display: inline-block;
	}
}