.results-container {
	font-family: 'Open Sans', sans-serif;
}
.results-section {
	text-align: center;
}


/* --- Score Improvement Section --- */
.summary-text-total {
	float: left;
	margin-left: 20px;
	text-align: center;

	.total-cost-number {
		white-space: nowrap;
		font-family: 'Raleway', sans-serif;
		font-size: 2.1rem;
		font-weight: 600;
	}
	.total-cost-number-text {
		font-size: 0.95rem;
		font-weight: 600;
		color: #777;
	}
}
.progress-chart-overall {
	margin-left: 140px;
}
.summary-text-section {
	margin-top: 60px;
	margin-left: 50px;

	.summary-text-box {
		display: inline-block;
		vertical-align: top;
		width: 240px;
	}
	.progress-chart {
		margin-top: 10px;
	}
}
.big-number-container {
	text-align: center;

	.big-number {
		white-space: nowrap;
		font-family: 'Raleway', sans-serif;
		font-size: 1.7rem;
		font-weight: 600;
	}
	.big-number-text {
		font-size: 0.95rem;
		font-weight: 600;
		color: #777;
		line-height: 1.25;
	}
}


/* --- Cost Chart --- */
.cost-chart-filter-container {
	float: left;
	width: 300px;
	text-align: center;
}
.cost-chart-filter-box {
	margin-top: 40px;
	width: 250px;
	border: $border;
	padding: 10px 20px;
	text-align: left;
	@include gradient(#fff, #f0f0f0);

	.cost-chart-filter-title {
		text-align: center;
		font-weight: 600;
		font-size: 1.1rem;
		margin-bottom: 10px;
	}
	.cost-chart-radio-label {
		margin-left: 15px;

		input {
			position: relative;
			top: 1px;
		}
	}
}
.cost-chart-container {
	margin-left: 300px;
}