.results-container {
	position: relative;
	font-family: 'Open Sans', sans-serif;
}
.results-section {
	border: $border;
	padding: 20px 50px;
	text-align: center;
	@include border-radius(10px);

	&:nth-child(n+2) { margin-top: 20px; }
}
.results-section-title {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 25px;
}
.results-button-container {
	position: absolute;
	top: 25px;
	right: 50px;

	button { margin-left: 10px; }
}


/* --- Cost Type Section --- */
.cost-type-section {
}
.cost-type-row {
	button {
		width: 180px;
		@include noselect;
	}
}
.cost-duration-row {
	.btn-group {
		position: relative;
		left: -268px;
	}
	button {
		border-top: none;
		@include noselect;
	}
}


/* --- Score Improvement Section --- */
.summary-text-total {
	float: left;
	margin-top: 1px;
	margin-left: 20px;
	text-align: center;

	.total-cost-number-text {
		font-size: 1.3rem;
		font-variant: small-caps;
	}
	.total-cost-number {
		margin-top: -4px;
		white-space: nowrap;
		font-family: 'Raleway', sans-serif;
		font-size: 2.2rem;
		font-weight: 600;
	}
}
.progress-chart-overall {
	margin-top: 5px;
	margin-left: 200px;
}
.summary-text-section {
	margin-top: 30px;

	.summary-text-box {
		display: inline-block;
		vertical-align: top;
		width: 220px;
		padding: 5px 10px;
		border: $light-border;
		cursor: pointer;
		@include gradient(#f0f0f0, #f9f9f9);

		&:nth-child(n+2) { border-left: none; }
	}
	.big-number {
		white-space: nowrap;
		font-family: 'Raleway', sans-serif;
		font-size: 1.7rem;
		font-weight: 600;
	}
	.big-number-text {
		font-size: 1.25rem;
		font-variant: small-caps;
	}
}

/* --- Cost Chart --- */
.chart-section-title {
	margin-bottom: 0;
}
.cost-chart-filter-container {
	float: left;
	width: 300px;
	text-align: center;
}
.cost-chart-filter-box {
	margin-top: 40px;
	width: 250px;
	border: $border;
	padding: 10px 20px 20px;
	text-align: left;
	@include gradient(#fff, #f0f0f0);

	.cost-chart-filter-title {
		text-align: center;
		font-weight: 600;
		font-size: 1.1rem;
	}
	.cost-chart-filter-section {
		margin-top: 15px;
		&:nth-child(n+2) { margin-top: 20px; }
	}
	.filter-label {
		margin-bottom: 4px;
		font-weight: 600;
	}
	.filter-row {
		margin-top: 2px;
		margin-left: 10px;
		cursor: pointer;

		input {
			position: relative;
			top: 1px;
			margin-right: 10px;
		}
	}
}
.cost-chart-container {
	margin-left: 300px;
}
.cost-chart {
	.tick text { cursor: default; }
}