.results-container {
	font-family: 'Open Sans', sans-serif;
}
.results-section {
	border: $border;
	padding: 10px 20px;
	@include border-radius(10px);
	@include gradient(#fff, #fcfcfc);
}


/* --- Score Improvement Section --- */
.bullet-chart-container {
	margin-top: 10px;
	margin-left: 415px;
}
.score-improvement-text {
	float: left;

	div, span { vertical-align: middle; }
	.score-improvement-title {
		font-weight: 600;
	}
	.rp-score-container {
		display: inline-block;
		margin-top: .35em;
	}
	.rp-score-to-text {
		display: inline-block;
	}
}
.chart-section {
	margin-top: 20px;
}
.chart-tab-container {
	margin-top: 30px;
	text-align: center;
}
.chart-content {
	display: none;
	margin-top: 30px;
}

/* --- Cost Explorer --- */
.explorer-filters {
	border: $border;

	.explorer-filter-header {
		padding: 1px 20px;
		background-color: #f0f0f0;
		font-size: 0.95rem;
		font-weight: 600;
		cursor: pointer;
	}
	.explorer-filter-header span {
		position: relative;
		top: -3px;
		left: -7px;
	}
	.chevron {
		position: relative;
		top: 2px;
		left: -5px;
	}
	.explorer-filter-content {
		display: none;
		padding: 15px 20px 20px;
		border-top: $border;
		background-color: white;
		.row { margin: 0; }
	}
	.explorer-filter-label {
		font-weight: 600;
		margin-bottom: 2px;
	}
}
.explorer-summary {
	margin-top: 30px;
	text-align: center;

	span {
		font-family: 'Raleway', sans-serif;
		font-size: 1.4em;
		font-weight: 600;
	}
	.summary-score-improvement {
		color: green;
	}
}
.explorer-cost-summary {
	margin-top: 20px;
	text-align: center;

	.explorer-cost-value {
		font-family: 'Raleway', sans-serif;
		font-size: 2.2em;
		font-weight: 600;
	}
	.explorer-cost-text {
		margin-top: 5px;
	}
}
.explorer-cost-chart-container {
	margin-top: 20px;
}


/* --- Cost Chart --- */
.cost-chart-container {
	text-align: center;
	svg { display: inline-block; }
}
.cost-chart-options {
	padding: 15px 30px;
	border: 1px solid #ccc;

	.cost-chart-option {
		display: inline-block;
	}
	select {
		display: inline-block;
		margin-left: 10px;
	}
}