.results-container {
	position: relative;
	font-family: 'Open Sans', sans-serif;
}
.results-empty-content {
	display: none;
	border: $border;
	padding: 20px 30px;
	background-color: #eee;
	text-align: center;
	font-weight: 600;
	font-style: italic;
	cursor: pointer;
}
.results-instructions {
	margin-bottom: 20px;
}
.results-section {
	border: $border;
	padding: 20px 30px 30px;
	text-align: center;
	@include border-radius(10px);
	@include box-shadow(2px 2px 5px rgba(0,0,0,0.3));

	&:nth-child(n+2) { margin-top: 25px; }
}
.results-section-title {
	margin-bottom: 20px;
	font-size: 1.5em;
	font-weight: 600;
	text-align: left;
}
.results-button-container {
	position: absolute;
	top: 25px;
	right: 50px;

	button { margin-left: 10px; }
}
.results-table-content {
	display: none;
}


/* --- Cost Type Section --- */
.cost-type-filter-container {
	font-size: 0.8em;
	text-align: left;
	button {
		padding: 5px 15px;
		@include noselect;
	}
}
.cost-type-row {
	button:first-child {
		width: 158px;
	}
}
.cost-duration-row {
	position: relative;
	left: 1px;

	button {
		border-top: none;
		padding: 5px 12px;
	}
}


/* --- Score Improvement Section --- */
.score-improvement-content {
	margin-top: 30px;
}
.summary-text-total {
	float: left;
	width: 220px;
	margin-top: 1px;
	margin-left: 20px;
	text-align: center;

	.total-cost-number-text {
		font-size: 1.3rem;
		font-variant: small-caps;
	}
	.total-cost-number {
		margin-top: -4px;
		white-space: nowrap;
		font-family: 'Raleway', sans-serif;
		font-size: 2.2rem;
		font-weight: 600;
	}
}
.progress-chart-overall {
	margin-top: 5px;
	margin-left: 200px;
}
.summary-text-section {
	margin-top: 30px;

	.summary-text-box {
		display: inline-block;
		position: relative;
		vertical-align: top;
		width: 220px;
		margin: 0 5px;
		padding: 5px 10px;
		border: $light-border;
		cursor: pointer;
		@include gradient(#ddd, #f0f0f0);
	}
	.summary-text-box-veil {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		&.green {
			@include gradient(rgba($jeeGreen, 0.6), rgba($jeeGreen, 0.15));
		}
		&.yellow {
			@include gradient(rgba($jeeYellow, 0.6), rgba($jeeYellow, 0.15));
		}
		&.red {
			@include gradient(rgba($jeeRed, 0.6), rgba($jeeRed, 0.15));
		}
	}
	.summary-text-box-content {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
	}
	.big-number {
		white-space: nowrap;
		font-family: 'Raleway', sans-serif;
		font-size: 1.7rem;
		font-weight: 600;
	}
	.big-number-text {
		font-size: 1.25rem;
		font-variant: small-caps;
	}
}

/* --- Cost Chart --- */
.chart-section-title {
	margin-bottom: 15px;
}
.cost-chart-container {
	margin-top: 5px;
	text-align: center;
}
.cost-chart-instructions {
	text-align: left;
	margin-bottom: 30px;
	max-width: 700px;
}
.cost-chart-filter-box {
	padding: 20px;
	text-align: left;

	.filter-label {
		margin-bottom: 4px;
		font-weight: 600;
	}
	.filter-row {
		margin-top: 2px;
		margin-left: 10px;
		cursor: pointer;

		input {
			position: relative;
			top: 1px;
			margin-right: 10px;
		}
	}
}
.reset-button-container {
	margin-top: 10px;
}


/* --- Results Table --- */
.results-table-content {
	.table-tab-container {
		margin-top: 30px;
		text-align: center;
	}
	.table-container {
		display: none;
		margin-top: 30px;
	}
	.table {
		width: 100%;

		.cost {
			text-align: right;
			white-space: nowrap;
		}
		.total-row {
			font-weight: 600;
			td { border-top: 2px solid #ccc; }
		}
	}
}