.scores-container {
	.btn {
		padding: .5rem 1.1rem;
	}
	.core-capacity-name {
		color: #333;
		font-size: 1.3em;
		font-weight: 600;
		margin-top: -5px;
	}
}
.score-instructions {
	margin-top: 20px;
}
.score-picker-container {
	margin-left: 20px;
	width: 100%;
}
.score-picker-table {
	font-family: Helvetica;
	margin-top: 20px;

	thead td {
		font-weight: 600;
		border-top: none;
		padding-bottom: 6px;
	}
	td:first-child { padding-right: 6px; }
	td:nth-child(2) { width: 350px; }
	td:last-child {
		padding: 0;
		width: 10px;
		border-top: none;
	}
}
.score-row {
	cursor: pointer;
	transition: background-color .5s ease;
	vertical-align: top;

	&.active { font-weight: 600; }
	&:first-child td:last-child {
		background-color: $jeeRed;
	}
	&:nth-child(2) td:last-child,
	&:nth-child(3) td:last-child {
		background-color: $jeeYellow;
	}
	&:nth-child(4) td:last-child,
	&:nth-child(5) td:last-child {
		background-color: $jeeGreen;
	}

	&:first-child.active,
	&:first-child:hover {
		background-color: rgba($jeeRed, 0.3);
	}
	&:nth-child(2).active,
	&:nth-child(2):hover,
	&:nth-child(3).active,
	&:nth-child(3):hover{
		background-color: rgba($jeeYellow, 0.3);
	}
	&:nth-child(4).active,
	&:nth-child(4):hover,
	&:nth-child(5).active,
	&:nth-child(5):hover {
		background-color: rgba($jeeGreen, 0.5);
	}

	td:first-child input {
		position: relative;
		top: 3px;
	}
	td:nth-child(2) span {
		position: relative;
		top: -1px;
	}
	.rp-score-table-img {
		position: relative;
		top: -1px;
		width: 30px;
		height: 30px;
		margin-right: 12px;
	}
}
.nav-buttons-container {
	margin-top: 30px;

	.btn-col {
		padding-left: 5px;
		padding-right: 5px;
		min-height: none;
	}
}


/* Flash class and keyframe animation */
.flashit{
	background-color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
	animation-iteration-count: 1;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}