.scores-container {
	.btn {
		padding: .5rem 1.1rem;
	}
	.core-capacity-name {
		color: #333;
		font-size: 1.3em;
		font-weight: 600;
		margin-top: -5px;
	}
}
.score-instructions {
	margin-top: 20px;
}
.score-picker-container {
	margin-left: 20px;
	width: 100%;
}
.score-picker-table {
	font-family: Helvetica;
	margin-top: 20px;

	thead td { font-weight: 600; }
	td {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;   
		width: 700px;
	}
	td:first-child {
		padding-left: 10px;
		padding-right: 0;
		width: 350px;
	}
	td::after {
		display: block;
		content: attr(content);
		font-weight: bold;
		height: 1px;
		color: transparent;
		overflow: hidden;
		visibility: hidden;
	}
}
.score-row {
	cursor: pointer;
	transition: background-color .5s ease;
	vertical-align: top;

	&.active { font-weight: 600; }
	&:first-child.active,
	&:first-child:hover {
		background-color: rgba($jeeRed, 0.3);
	}
	&:nth-child(2).active,
	&:nth-child(2):hover,
	&:nth-child(3).active,
	&:nth-child(3):hover{
		background-color: rgba($jeeYellow, 0.3);
	}
	&:nth-child(4).active,
	&:nth-child(4):hover,
	&:nth-child(5).active,
	&:nth-child(5):hover {
		background-color: rgba($jeeGreen, 0.5);
	}

	td:first-child input {
		position: relative;
		top: 1px;
		margin-right: 15px;
	}
	.rp-score-table-img {
		position: relative;
		top: -1px;
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
}
.nav-buttons-container {
	margin-top: 30px;

	.btn-col {
		padding-left: 5px;
		padding-right: 5px;
		min-height: none;
	}
}


/* Flash class and keyframe animation */
.flashit{
	background-color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
	animation-iteration-count: 1;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}