.scores-container {
	.btn {
		padding: .5rem 1.1rem;
	}
}
.rotate-chevron {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.indicator-progress-container {
	.indicator-container {
		margin-left: 60px;
		margin-bottom: 35px;
	}
	.indicator-slot { 
		width: 600px;
		height: 40px;
		padding: 0 20px;
		border: 1px solid #CCCBCB;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.indicator-flash-color {
		background-color: $orange-lighten-4;
	}

	.indicator-slot.full {
		//background: linear-gradient(#fff, #e6e7e8);
	}
	.indicator-slot.full:hover {
		//background: linear-gradient(#fff, #ccc);
	}
	.indicator-slot.empty {
		font-style: italic;
		color: gray;
	}
	.indicator-slot.empty:hover {
		color: black;
	}
	.indicator-slot.active {
		font-weight: bold;
		color: black;
	}
	.indicator-name,
	.indicator-score {
		// display: flex;
		// vertical-align: middle;
	}
	.indicator-name {
	}
	.indicator-score {
		// float: right;
	}
}
.score-picker-container {
	margin-left: 50px;
	width:100%;


}
.indicator-description {
	margin-left: 10px;
}
.score-picker-table {



	font-family: Helvetica;
	// .headers {
	// 	font-weight: bold;
	// }
	.headers.score {
		// width: 250px;
		font-weight: bold;
	}
	.headers.description {
		font-weight: bold;
		// width: 600px;
	}
	.btn.toggle-score-descriptions {
		margin-left: 5px;
	}
	.custom-control.custom-radio {
		bottom: 5px;
		margin-right: 5px;
		padding-left: 0;
	}
	.custom-radio .custom-control-indicator {
		border-radius: 10%;
		border: solid 1px gray;
	}
	.custom-radio .custom-control-input:checked~.custom-control-indicator {
		background-image: none;
		//background-color: rgb(48, 113, 169);
		background-color: black;
	}
	.custom-control-input {
		position: relative;
	}
	td {
		padding-top:10px;
		padding-bottom:10px;
		padding-right:10px;   
		width: 700px;
	}

	td:first-child {
		padding-left:10px;
		padding-right:0;
		width: 350px;
	}

	td::after {
		display:block;
		content:attr(content);
		font-weight:bold;
		height:1px;
		color:transparent;
		overflow:hidden;
		visibility:hidden;
	}

	.score-row {
		cursor: pointer;
		transition: background-color .5s ease;
		vertical-align: top;
	}

	.score-row.active {
		font-weight: 600;
	}

	.score-row._1.active,
	.score-row._1:hover {
		background-color: rgba($jeeRed, 0.3);
	}
	.score-row._2.active,
	.score-row._2:hover,
	.score-row._3.active,
	.score-row._3:hover{
		background-color: rgba($jeeYellow, 0.3);
	}
	.score-row._4.active,
	.score-row._4:hover,
	.score-row._5.active,
	.score-row._5:hover {
		background-color: rgba($jeeGreen, 0.5);
	}
}
.btn-col {
	padding-left: 5px;
	padding-right: 5px;
	min-height: none;
}



/* Flash class and keyframe animation */
.flashit{
	background-color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
	animation-iteration-count: 1;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}