.who-container {
	td { padding-top: 4px; }
	td:nth-child(2) {	padding-left: 20px; }
	#geography-division-btn { width: auto; }
}
.who-container .block-link-container {
	.block-link {
		padding-left: 45px;
	}
	.chevron {
		position: absolute;
		top: 12px;
		left: 15px;
	}
	.block-link-title { font-size: 1.25em; }
}
.who-container .block {
	display: none;

	.block-description { margin-bottom: 30px; }
	.next-button-container {
		margin-top: 30px;
		text-align: center;
	}
	.next-button-container > div {
		margin-top: 10px;
	}
	.next-button-container .btn {
		margin: 0 2px;
	}
	input {
		display: inline-block;
		padding: 6px 12px;
		text-align: right;
	}
	.default-text {
		width: 125px;
		margin-top: 2px;
		font-size: 0.85em;
		font-weight: 600;
		text-align: right;
	}
}
.country-block {
	.row { margin-left: 0; }
	.country-dropdown { float: left; }
	.country-label {
		font-weight: 600;
		margin-bottom: 3px;
	}
	.country-currency-label {
		margin-top:	65px;
	}
	.country-control-container {
		position: relative;
		margin-right: 30px;
		margin-top: 0px;
		width: 25%;
		z-index: 1000;
	}
	.map-container {
		position: relative;
		z-index: 10;
	}
}
.population-block {
	.input-container { margin-top: 10px; }
	.population-input {
		width: 140px;
		margin-right: 5px;
	}
}
.country-details-block {
	.phi-section {
		margin-top: 30px;
		border-top: $light-border;
		padding-top: 30px;
	}
}
.geo-division-table {
	input {
		width: 140px;
		margin-left: 10px;
	}
}
.ph-table {
	td:first-child {
		position: relative;
		top: 5px;
	}
	input {
		width: 140px;
		margin-right: 10px;
	}	
}
.default-costs-block {
	.dv-input-container { margin-top: 20px; }
	.dv-input {
		width: 140px;
		margin-right: 5px;
		text-align: right;
		vertical-align: top;
	}
	.dv-description {
		font-style: italic;
		display: inline-block;
		float: right;
		width: 400px;
		vertical-align: top;
	}
	.dv-item-row {
		margin-bottom: 20px;
		margin-left: 10px;
	}
	.dv-subheading-row {
		margin-left: 10px;
	}
	.dv-currency,
	.dv-cost-unit,
	.dv-description {
		position: relative;
		top: 5px;
	}

	.dv-item-name {
		font-weight: normal;
	}
}