.who-container {
	td { padding-top: 4px; }
	td:nth-child(2) {	padding-left: 20px; }
	#geography-division-btn { width: auto; }
}
.who-container .block-link-container {
	.block-link {
		padding-left: 45px;
	}
	.chevron {
		position: absolute;
		top: 12px;
		left: 15px;
	}
	.block-link {
		left: 0%;
		width: 100%;
		&[level="1"] {
			left: 10%;
			width: 90%;
		}
	}
	.block-link-title { font-size: 1.25em; }
	.block-title-title {
		font-size: 1.25em;
	}
}
.who-container .block {
	display: none;

	.block-description { margin-bottom: 30px; }
	.next-button-container {
		margin-top: 30px;
		border-top: $light-border;
		padding-top: 30px;
		text-align: center;

		button { margin: 0 5px; }
	}
	input {
		display: inline-block;
		padding: 6px 12px;
		text-align: right;
	}
	.default-text {
		width: 125px;
		margin-top: 2px;
		font-size: 0.85em;
		font-weight: 600;
		text-align: right;
	}
}
.population-block {
	.input-container { margin-top: 10px; }
	.population-input {
		width: 140px;
		margin-right: 5px;
	}
	.currency-section {
		margin-top: 30px;
		border-top: $light-border;
		padding-top: 20px;
	}
	.currency-select-label {
		margin-bottom: 10px;
	}
}
.country-details-block {
	.phi-section {
		margin-top: 30px;
		border-top: $light-border;
		padding-top: 30px;

		.info-img {
			position: relative;
			top: -1px;
			width: 13px;
			height: 13px;
			margin-left: 5px;
		}
	}
}
.geo-division-table {
	input {
		width: 140px;
		margin-left: 10px;
	}
}
.ph-table {
	td:first-child {
		position: relative;
		// top: 5px;
	}
	input {
		width: 140px;
		margin-right: 10px;
	}	
}
.default-costs-block {
	.dv-item-row {
		margin-left: 0;
		padding: 10px;
	}
	.dv-subheading-row {
		font-family: 'Open Sans', sans-serif;
		padding: 10px 0 20px;
	}
	.dv-subheading-row h3 {
		font-weight: 400;
		font-size: 1.3em;
	}
	.dv-item-name-container {
		display: inline-block;
		width: 380px;
		padding-bottom: 10px;
		vertical-align: top;
	}
	.dv-item-name {
		font-weight: 600;
	}
	.dv-input-group {
		display: inline-block;
		margin-left: 20px;
		vertical-align: top;
	}
	.dv-input {
		width: 140px;
		margin-right: 8px;
		text-align: right;
		vertical-align: top;
	}
	.dv-currency,
	.dv-cost-unit {
		position: relative;
		top: 5px;
	}
	.dv-divider {
		border-top: $light-border;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	h2.dv-h2 {
		font-size: 1.3em; // to match block-title-title size
	}
	h3.dv-h3 {
		font-size: 1.3em;
	}
	.dv-tab-name-container {
		display: flex;
		padding-top: 5px;
		border-radius: 10px;
		box-sizing: border-box;
		cursor: pointer;
		.rotate-chevron {
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}
.block-title-title {
	font-size: 1.3em;
}