.who-container {
	td { padding-top: 4px; }
	td:nth-child(2) {	padding-left: 20px; }
	#geography-division-btn { width: auto; }
}
.who-container .block-link-container {
	.block-link {
		padding-left: 45px;
	}
	.chevron {
		position: absolute;
		top: 12px;
		left: 15px;
	}
	.block-link-title { font-size: 1.25em; }
	.block-title-title {
		font-size: 1.25em;
	}
}
.who-container .block {
	display: none;

	.block-description { margin-bottom: 30px; }
	.next-button-container {
		margin-top: 40px;
		text-align: center;
	}
	input {
		display: inline-block;
		padding: 6px 12px;
		text-align: right;
	}
	.default-text {
		width: 125px;
		margin-top: 2px;
		font-size: 0.85em;
		font-weight: 600;
		text-align: right;
	}
}
.population-block {
	.input-container { margin-top: 10px; }
	.population-input {
		width: 140px;
		margin-right: 5px;
	}
	.currency-section {
		margin-top: 30px;
		border-top: $light-border;
		padding-top: 20px;
	}
}
.country-details-block {
	.phi-section {
		margin-top: 30px;
		border-top: $light-border;
		padding-top: 30px;
	}
}
.geo-division-table {
	input {
		width: 140px;
		margin-left: 10px;
	}
}
.ph-table {
	td:first-child {
		position: relative;
		top: 5px;
	}
	input {
		width: 140px;
		margin-right: 10px;
	}	
}
.default-costs-block {
	.dv-input-container { margin-top: 20px; }
	.dv-input {
		width: 140px;
		margin-right: 8px;
		text-align: right;
		vertical-align: top;
	}
	.dv-description {
		display: inline-block;
		float: left;
		width: 380px;
		vertical-align: top;
		padding-bottom: 10px;
	}
	.dv-item-row {
		margin-left: 10px;
		padding: 10px;
	}
	.dv-subheading-row {
		font-family: 'Open Sans', sans-serif;
		margin-left: 40px;
		border-left: $light-border;
		padding: 10px 10px 20px;
		&:first-child { margin-top: 10px; }
	}
	.dv-subheading-row h3 {
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 1.3em;
	}
	.dv-currency,
	.dv-cost-unit {
		position: relative;
		top: 5px;
	}
	.dv-item-name {
		font-weight: 600;
		// margin-bottom: 7px;
	}
	.dv-input-group {
		display: inline-block;
	}
	.dv-item-name {
		float: left;
	}
	.dv-input-group {
		margin-left: 60px;
	}
	.dv-divider {
		border-top: $light-border;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	h2.dv-h2 {
		font-size: 1.3em; // to match block-title-title size
	}
	h3.dv-h3 {
		font-size: 1.2em;
		font-weight: normal;
	}
}
.block-title-title {
	font-size: 1.3em;
}