/* Country picker tab */
.country-dropdown {
	float: left;
}


.who-container {
	td {
		padding-top: 4px;
	}
	td:nth-child(2) {
		padding-left: 20px;
	}

	input {
		border-radius: 5px;
		border: 1px solid #ccc;
		text-align: right;
	}

	.btn-container {
		margin-top: 20px;
	}

	#geography-division-btn {
		width: auto;
	}



}
.population-block {

	display: none;

	.block-description {
		margin-bottom: 40px;
	}

	.estimated-population{
		margin-top:	20px;
	}
}

.country-currency-label {
	margin-top:	60px;
}

.country-control-container {
	margin-right: 30px;
	margin-top: 0px;
	width: 25%;

	.btn {
		width: 220px;
	}
}


.public-health-information-block {
	display: none;

	.block-description {
		margin-bottom: 40px;
	}
	.phi-defaults {
		margin-bottom: 10px;
	}
	input {
		width: 80px;
	}
}

.geographical-divisions-block {
	display: none;

	.block-description {
		margin-bottom: 40px;
	}

	table {
		margin-top: 20px;
	}

	.btn {
		width: 220px;
	}
}