/* --- Main Color Palette --- */
$blue: #10167f;
$light-blue: #7c81b8;
$red: #fe230a;
$orange: #ff9600;
$gray: #969696;
$dark-gray: #505050;


/* --- Extended Color Palette --- */
$dark-blue: #000064;
$dark-red: #b41428;
$dark-orange: #f57814;
$light-red: #ff967d;
$light-orange: #ffc87d;
$lightest-red: #e6d7aa;
$lightest-orange: #f0e6c8;


/* --- Chart Colors --- */
$bar-light-red: #d6616b;
$bar-light-yellow: #e7ba52;
$bar-light-green: #b5cf6b;
$bar-red: darken(#d62728, 5%);
$bar-yellow: darken(#bcbd22, 5%);
$bar-green: darken(#2ca02c, 5%);
$bar-dark-red: #843c39;
$bar-dark-yellow: #8c6d31;
$bar-dark-green: #637939;