/* --- Main Color Palette --- */
$blue: #082b84;
$red: #c91414;
$orange: #ff6d00;
$green: #0c6b0c;
$purple: #351d63;


/* --- Gradient Colors --- */
$lightest-blue: #dae5f3;
$light-blue: #cadef8;
$medium-blue: #b0c4de;

$light-grey: #ccc;
$grey: #bbb;

/* --- Dark JEE Colors --- */
$jeeRed: #c12025;
$jeeYellow: #ede929;
$jeeGreen: #87c764;



/* --- Borders --- */
$light-border: 1px solid #ccc;
$border: 1px solid #999;
$dark-border: 1px solid #555;
